/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
 }
 
 header {
    padding: 50px;
    background-color: rgb(165, 207, 207);
    text-align: center;
 }

 main {
 
 }

.image-div {
    display: inline-block;
}

.hidden {
   visibility: hidden;
}

#image-0 {
   position: absolute;
   top: 95px;
   right: -90px;
}

#image-1 {
   position: absolute;
   top: 20px;
   right: 510px;
}

#image-2 {
   position: absolute;
   top: 450px;
   left: 650px;
}

#image-3 {
   position: absolute;
   top: 58x;
   right: 200px;
}

#image-4 {
   position: absolute;
   top: 95px;
   left: 200px;
}

#image-5 {
   position: absolute;
   top: 12px;
   left: -51px;
}
